/* generale */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}





/* flex */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.justify-end {
    justify-content: flex-end;
}

/* end flex */





/* content */
.web-app {
    height: 100vh;
}

.green {
    color: rgb(33, 186, 33);
}

button {
    background-color: #4b4b4b;
    color: white;
    border: 0;
}

/* end content */





/* modifiche schermo */
header {
    padding: 10px;
}

header button {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #4b4b4b;
    color: white;
    margin-left: 0.5rem;
}

header button span {
    margin-right: 0.3rem;
}

/* end modifiche schermo */





/* video */
main {
    overflow-y: auto;
}

.main-container {
    margin: 35px 65px 35px;
    width: calc(100% - 130px);
    align-items: flex-start;
}

.img-persone {
    width: calc(100% / 7);
    position: relative;
    border: 2px solid black;
}

.img-persone img {
    width: 100%;
    display: block;
}

.nome-utente {
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: #4d4d4d;
    opacity: 0.5;
}

/* end video */





/* barra strumenti */
footer {
    background-color: #4d4d4d;
}

.icona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icona i {
    margin-bottom: 10px;
}

.fine-riunione {
    height: 100%;
    background-color: #4b4b4b;
    color: red;
    padding: 0 10px;
}

/* end barra strumenti */